.description {
  width: 320px;
}

.description__wrapper {
  padding: 0 21px 0 20px;
}

.description__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
}

.description__item-list {
  padding: 0;
}

.description__item {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-darkgrey;
  list-style: none;
  display: flex;
  padding-bottom: 20px;

  &::before {
    content: "";
    display: table;
    width: 60px;
    height: 60px;
    background: @basic-green;
    margin-right: 20px;
  }
}
