.examples {
  width: 320px;
  background: @special-grey4;
}

.examples__wrapper {
  padding: 0 20px;
}

.examples__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  padding-top: 27px;
  margin: 0;
}

.examples__text {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-darkgrey;
  padding-top: 33px;
  margin: 0;
}

.examples__stats {
  display: flex;
  align-items: center;
  text-align: center;
}

.examples__stats-item {
  background-image: url("../img/examples-weight-back.png");
  background-repeat: no-repeat;
  width: 124px;
  height: 56px;

  &:first-child {
    margin-right: 31px;
  }
}

.examples__stats-number {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @black;
  margin: 15px 0 5px;
}

.examples__stats-description {
  font-family: @secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: @special-darkgrey;
  width: 77px;
  margin: 0 auto;
}

.examples__stats-item-money {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  margin-top: 27px;
  margin-bottom: 44px;
}

.examples__compare-image {
  margin: 0 0 23px 0;
}

.examples__compare-slider {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 228px;
  margin: 0 45px 0 47px;
}

.slider__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  text-transform: uppercase;
  color: @black;
  margin: 0 10px 2px 10px;
  width: 50px;
  height: 38px;
  align-items: center;
}

.slider__bar {
  background: @white;
  border: 1px solid @special-grey2;
  box-sizing: border-box;
  border-radius: 6px;
  width: 84px;
  height: 14px;
  position: relative;
}

.slider__bar-inner {
  width: 35px;
  height: 6px;
  background: @basic-green;
  border-radius: 6px;
  position: absolute;
  bottom: 3px;
  left: 6px;
}
