.examples {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  background-color: @special-grey4;
  margin-top: 42px;
  padding-top: 27px;
  padding-bottom: 40px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    background-color: @white;
    padding-top: 64px;
    margin-top: 0;

    &::before {
      content: "";
      width: 100%;
      height: 462px;
      position: absolute;
      top: 588px;
      left: 0;
      background-color: @basic-grey;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    max-height: 656px;
    padding-top: 0;

    &::before {
      background-color: @basic-grey;
      right: 0;
      top: 163px;
    }
  }
}

.examples__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px 50px 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto 100px auto;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1330px;
    margin: 0 0;
    margin-top: -27px;
    padding: 0 0 0 110px;
  }
}

.examples__title {
  font-size: 36px;
  line-height: 40px;
  margin-top: 27px;
  margin-bottom: 33px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    margin-top: 17px;
  }

  @media (min-width: @desktop-width) {
    width: fit-content;
    padding-top: 10px;
    margin-bottom: 146px;
  }
}

.examples__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: @special-darkgrey;
  font-family: @secondary-font;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    max-width: 700px;
  }

  @media (min-width: @desktop-width) {
    max-width: 436px;
  }
}

.examples__stats {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    margin-top: 57px;
  }

  @media (min-width: @desktop-width) {
    width: fit-content;
    height: 72px;
    margin-bottom: 60px;
    margin-top: 67px;
  }
}

.examples__stats-item {
  display: inline-block;
  border: 1px solid @special-grey2;
  border-radius: 5px;
  width: 124px;
  padding-top: 12px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 27px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    margin-right: 37px;
    width: 162px;
  }

  @media (min-width: @desktop-width) {
    height: 55px;
  }
}

.examples__stats-number {
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding-left: 2px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.examples__stats-description {
  position: absolute;
  font-family: @secondary-font;
  font-size: 12px;
  line-height: 12px;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 13px;
  padding-right: 16px;
  text-align: center;
  color: @special-darkgrey;
  background-color: @special-grey4;
  bottom: -18px;

  @media (min-width: @tablet-width) {
    background-color: @white;
    font-family: @secondary-font;
    font-size: 14px;
    line-height: 14px;
    padding-left: 8px;
    padding-right: 8px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: max-content;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}

.examples__stats-item-money {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: @tablet-width) {
    text-align: right;
    margin-left: auto;
    max-width: 180px;
    margin-top: 67px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    max-width: inherit;
    width: auto;
    margin: 0;
  }
}

.example__expenses span {
  @media (min-width: @desktop-width) {
    margin-left: 63px;
  }
}

.examples__compare {
  margin-bottom: 24px;
  height: 240px;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 520px;
    margin-bottom: 12px;
    margin-left: 1px;
    margin-top: 50px;
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -80px;
    margin-left: 124px;
  }
}

.examples__compare-image-before {
  @media (min-width: @tablet-width) {
    width: 50%;
    height: 520px;
    overflow: hidden;
    position: absolute;
    left: 0;
    background-image: linear-gradient(to bottom, @white 169px, @basic-grey 0%);
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to bottom, @white 192px, @basic-grey 0%);
    width: 372px;
    margin-top: -80px;
  }
}

.examples__compare-image-before .examples__compare-picture {
  display: block;
  width: 311px;
  height: 232px;
  object-fit: cover;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 710px;
    max-width: 710px;
    height: 520px;
    object-fit: contain;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    max-width: 690px;
  }
}

.examples__compare-image-after .examples__compare-picture {
  display: block;
  width: 251px;
  height: 240px;
  object-fit: cover;
  margin: auto;

  @media (min-width: @tablet-width) {
    object-fit: contain;
    width: 708px;
    height: 516px;
    margin-left: 24px;
    background-image: linear-gradient(to bottom, @white 169px, @basic-grey 0%);
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    max-width: 690px;
    height: 519px;
    margin-left: 32px;
    margin-top: -79px;
    background-image: linear-gradient(to bottom, @white 192px, @basic-grey 0%);
  }
}

.examples__compare-image {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.examples__compare-image-open {
  display: block;
}
