.product {
  padding: 19px 20px 25px 20px;
  border-bottom: 1px solid @special-grey;
}

.product__header {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-darkgrey2;
  margin: 0;
}

.product__image {

}

