.programs {
  margin-top: 22px;
}

.programs__wrapper {
  background-color: @basic-grey;
  width: 280px;
  height: 266px;
  margin: 20px;
}

.programs__logo-image {
  padding: 21px 20px 22px;
}

.programs__header {
  margin: 0;

}

.programs__header-text {
  padding: 30px 79px 21px 0;
  margin: 0 auto;
}

.programs__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-darkgrey;
  padding: 0 33px 0 20px;
  margin: 0;
}
