.programs {
  margin-top: 22px;
}

.programs__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

.programs__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  background: @basic-grey;
  padding: 22px 20px 18px 21px;
  max-height: 266px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 77px 28px 53px 52px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
    width: 467px;
    padding: 41px 51px 55px 52px;
    margin-right: 80px;
    margin-bottom: 0;
    margin-top: 80px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.programs__image {
  display: block;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-right: 20px;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    margin-bottom: 39px;
    margin-right: 62px;
  }
}

.programs__image--slim {
  @media (min-width: @tablet-width) {
    width: 200px;
    height: 221px;
    margin-top: -6px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.programs__image--pro {
  margin-top: 7px;
  margin-left: -13px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 241px;
    margin-top: -4px;
    margin-left: 18px;
    margin-right: 11px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 110px;
    margin-right: 48px;
    margin-left: -20px;
    margin-bottom: 35px;
  }
}

.programs__header-text {
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -35px;
  }
}

.programs__header-text--pro {
  @media (min-width: @tablet-width) {
    margin-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -24px;
  }
}

.programs__description {
  font-family: @secondary-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  max-width: 240px;
  border-bottom: 1px solid @special-grey3;
  margin-top: 22px;
  margin-bottom: 19px;
  padding-bottom: 23px;
  padding-left: -2px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    border: none;
    margin-bottom: 53px;
    max-width: 380px;
    padding: 0;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    max-width: 470px;
    margin-bottom: 23px;
    margin-top: 6px;
  }

  &--pro {
    @media (min-width: @tablet-width) {
      margin-top: 20px;
      max-width: 340px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 20px;
      margin-top: 4px;
      max-width: 480px;
    }
  }
}

.programs__link {
  position: relative;
  text-transform: uppercase;
  color: @black;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/programs-arrow.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 12px;
    right: -41px;
  }

  &:hover::before {
    width: 100%;
    right: -100px;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;

    &::before {
      top: 8px;
      left: 135px;
    }

    &:hover::before {
      left: 137px;
    }
  }
}
