.proposal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 13px;
  height: 289px;
  margin-bottom: 35px;
  margin-right: 20px;
  width: 100%;
  background-image: url("../img/proposal-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/proposal-bg-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    height: 200px;
    background-image: url("../img/proposal-bg-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/proposal-bg-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
    flex-direction: column;
    width: 245px;
    padding: 0;
    margin: 0;
    margin-right: 110px;
    height: 289px;
    background-image: url("../img/proposal-bg-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/proposal-bg-desktop@2x.jpg");
    }
  }
}

.proposal__img {
  width: 80px;
  height: 83px;
  background-image: url("../img/proposal-icon.svg");
  background-repeat: no-repeat;
  background-position-y: 16px;

  @media (min-width: @tablet-width) {
    margin-left: 78px;
  }

  @media (min-width: 1440px) {
    margin: 0;
    margin-bottom: 40px;
  }
}

.proposal__text {
  max-width: 161px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-family: @secondary-font;
  color: @white;
  padding-top: 14px;
  justify-self: flex-end;

  @media (min-width: @tablet-width) {
    text-align: start;
    max-width: 150px;
    margin-right: 124px;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    margin: 0;
  }
}
