.site-list {
  list-style: none;
  width: 320px;
  margin: 0;
  padding: 0;
}

.site-list__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid @special-grey5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 69px 24px 70px;
}


.site-list__item a {
  text-decoration: none;
  color: @black;
}
