// Colors
@white: #ffffff;
@basic-green: #68B738;
@basic-green2: #5EAA2F;
@basic-grey: #F2F2F2;
@special-grey: #EBEBEB;
@special-grey2: #CDCDCD;
@special-grey3:#D9D9D9;
@special-grey3: #666666;
@special-darkgrey: #444444;
@special-darkgrey2: #222222;
@status-error: #FF8282;
@shadow:rgba(0, 0, 0, 0.25);
@black:#000000;

@main-font: "Oswald", Arial, sans-serif;
@secondary-font: Arial, sans-serif;
